body {
    background-color: #303446; /* Base background color */
    color: #f4b8e4; /* Text color */
    font-family: 'Arial', sans-serif; /* Arial font */
    text-align: center; /* Center all text horizontally */
		 /*padding: 20px; /* Offset text from the edges by 20px */
}

h1, h2, h3, h4, h5, h6 {
    color: #f4b8e4; /* Mauve for headings */
}

p {
    color: #f4b8e4; /* Lavender for paragraphs */
	}

a {
    color: #f4b8e4; /* Blue for links */
    text-decoration: none; /* Remove underline from links */
}

a:hover {
    text-decoration: underline; /* Underline links on hover */
}

/* Example button styling */
button {
    background-color: #81C8BE; /* Teal for buttons */
    color: #303446; /* Base background color for button text */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #99D1DB; /* Sky for button hover */
}

